.layer1__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__main {
  color: white;
  font-size: 22rem;
  font-family: teko;
  line-height: 15rem;
  text-shadow: 5px 7px 7px rgb(153, 92, 191);
}

.title__sub {
  font-size: 3rem;
  font-family: play;
  font-weight: 600;
  margin: auto;
  color: #ff018c;
  /* text-shadow: 0 0 3px; */
}
